{% extends "labnerd_layout.html" %}
{% block section %}
<form method="POST" action="" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <fieldset>
    <legend> Add Instrument </legend>
    <div>
      {{ form.name.label }}
      {% if form.name.errors %}
        {{ form.name }}
        {% for error in form.name.errors %}
          <span style="color: red; border: 1px solid black;"> {{ error }} </span>
        {% endfor %}
      {% else %}
        {{ form.name }}
      {% endif %}
    </div>
    <div>
      {{ form.price_per_day.label }}
      {% if form.price_per_day.errors %}
        {{ form.price_per_day }}
        {% for error in form.price_per_day.errors %}
          <span> {{ error }}</span>
        {% endfor %}
      {% else %}
        {{ form.price_per_day }}
      {% endif %}
    </div>
    <div>
      {{ form.price_per_sample.label }}
      {% if form.price_per_sample.errors %}
        {{ form.price_per_sample }}
        {% for error in form.price_per_sample.errors %}
          <span> {{ error }}</span>
        {% endfor %}
      {% else %}
        {{ form.price_per_sample }}
      {% endif %}
    </div>
    <div>
      {{ form.price_per_week.label }}
      {% if form.price_per_week.errors %}
        {{ form.price_per_week }}
        {% for error in form.price_per_week.errors %}
          <span> {{ error }}</span>
        {% endfor %}
      {% else %}
        {{ form.price_per_week }}
      {% endif %}
    </div>
    <div>
      {{ form.description.label }}
      {% if form.description.errors %}
        {{ form.description }}
        {% for error in form.description.errors %}
          <span> {{ error }}</span>
        {% endfor %}
      {% else %}
        {{ form.description }}
      {% endif %}
    </div>
    <div>
      {{ form.location.label }}
      {% if form.location.errors %}
        {{ form.location }}
        {% for error in form.location.errors %}
          <span> {{ error }}</span>
        {% endfor %}
	{% else %}
        {{ form.location }}
	{% endif %}
    </div>
    <div>
      {{ form.instrument_image.label }}
      {% if form.instrument_image.errors %}
        {{ form.instrument_image }}
        {% for error in form.instrument_image.errors %}
          <span> {{ error }}</span>
        {% endfor %}
      {% else %}
        {{ form.instrument_image }}
      {% endif %}
    </div>
    <div>
      {{ form.submit }}
    </div>
  </fieldset>
</form>
{% endblock section %}
