{% extends "labnerd_layout.html" %}
{% block section %}
<section id="notes">
	
	<div style="width: 90%; padding: 5% 5%;">
		<h1 style="color: lightgreen;">Chromatography</h1>
		<p>Chromatographic instruments are essential tools used in analytical chemistry for separating, identifying, and quantifying compounds in a mixture. They are widely employed in various industries, including pharmaceuticals, environmental monitoring, food and beverage, and biotechnology. Chromatography techniques, such as gas chromatography (GC) and liquid chromatography (LC), provide high precision and accuracy in analyzing complex samples.</p>
	</div>
	<div style="width: 90%; padding: 5% 5%;">
		<h1 style="color: lightgreen;">Spectroscopy</h1>
		<p>Spectroscopic instruments are advanced analytical tools used to measure and analyze the interaction of light with matter. These instruments are crucial in various fields such as chemistry, physics, biology, and environmental science. They help in identifying the composition, structure, and properties of substances by examining their spectral characteristics.</p>
	</div>
	<div style="width: 90%; padding: 5% 5%;">
		<h1 style="color: lightgreen;">Microscopy</h1>
		<p>Microscopic instruments are essential tools used to observe and analyze structures that are too small to be seen with the naked eye. These instruments play a crucial role in various fields such as biology, materials science, medicine, and nanotechnology. They enable scientists and researchers to explore the micro and nano-world, leading to groundbreaking discoveries and innovations.</p>
		</br>
		<p><strong><em>Key Features:</em></strong>
		</br>
		</br>
		<strong>High Magnification:</strong> Allows detailed visualization of tiny structures.</br>

Resolution: Provides clear and precise images at high magnifications.
<strong>Versatility:</strong> </br>Suitable for a wide range of samples and applications.
<strong>Advanced Imaging Techniques:</strong> </br> Includes options for fluorescence, electron, and confocal microscopy.
<strong><em>Applications:</em></strong>

<strong>Biological Research:</strong> Studying cells, tissues, and microorganisms.
<strong>Medical Diagnostics:</strong> Identifying diseases and pathogens.
<strong>Materials Science:</strong> Analyzing the structure and properties of materials.
<strong>Nanotechnology:</strong> Investigating nanoscale structures and phenomena.
Choose our advanced microscopic instruments for high-quality imaging and analysis in your laboratory or research facility.
		</p>
	</div>
</section>
{% endblock section %}
